/* Dashboard global (Start) */

body{
    background-color: #fff;
}

.screen-loader-overlay-container{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 1000;
    display: none;
}

.screen-loader-overlay{
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.record-created-successfully, .record-creation-failed, .record-deleted-successfully, .record-deletion-failed, .record-updated-successfully, .record-update-failed{
    bottom: 10px;
    right: 20px;
    position: fixed;
    z-index: 100;
    display: none;
}

.screen-loader-svg-icon{
    width: 100px;
}

.delete-record-overlay-container{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 1000;
}

.delete-record-overlay{
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.delete-record-overlay-content{
    width: 450px;
    padding: 15px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
}

.update-academic-session-overlay-container{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 1000;
}

.update-academic-session-overlay{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.update-academic-session-modal{
    width: 450px;
    padding: 15px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
}

.update-academic-session-actions{
    display: flex;
    justify-content: end;
    gap: 10px;
}

.update-academic-session-active-label{
    font-size: 14px;
    line-height: 1.8;
}

#update-academic-session-active-id:focus{
    border-color: none !important;
    box-shadow: none;
}

.delete-record-overlay-action-btn, .update-academic-session-action-btn{
    padding: 7px 12px;
    border-radius: 5px;
    border: none;
    outline: none;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
}

.delete-record-overlay-action-cancel-btn, .update-academic-session-cancel-btn{
    background-color: red;
}

.delete-record-overlay-action-confirm-btn, .update-academic-session-update-btn{
    background-color: #0170BA;
}

.main-content{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

.dashboard-left{
    position: relative;
    width: 20%;
    padding: 15px;
    background-color: #2f3542;
    color: #fff;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 100vh;
    overflow-y: auto;
}

.menu-item:not(:last-of-type){
    margin-bottom: 10px;
}

.dashboard-right{
    position: relative;
    width: 80%;
    padding: 15px;
    background-color: #f1f2f6;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 100vh;
    overflow-y: auto;
}

.dashboard-right-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2f3542;
    height: 50px;
    padding: 0 20px;
    border-radius: 10px;
}

.dashboard-right-left-radius{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.company-logo-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.company-logo{
    width: 150px;
    height: 70px;
    object-fit: contain;
}

.sidebar-close-btn{
    position: absolute;
    width: 50px;
    top: 0;
    right: 0;
    cursor: pointer;
}

.sidebar-open-btn{
    width: 50px;
    cursor: pointer;
    display: none;
}

.power-button-icon{
    width: 25px;
    cursor: pointer;
}

.power-btn-content{
    position: absolute;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    top: 70px;
    right: 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: none;
}

.power-btn-content button{
    width: 100%;
    padding: 10px 20px;
    border: none;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
}

.power-btn-content button:first-of-type{
    margin-bottom: 10px;
}

/* Dashboard global (End) */

/* All menus (Start) */

.dashboard-menu, .configuration-menu,
.configuration-general-menu,
.configuration-session-menu,
.configuration-subject-menu,
.configuration-fee-menu{
    width: 100%;
    background-color: transparent;
    color: #fff;
    font-size: 14px;
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 5px 10px;
    border-radius: 7px;
    border: none;
    outline: none;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    transition: all 0.3s;
}

.dashboard-menu img, .configuration-menu img{
    width: 20px;
}

.dashboard-menu:hover,
.configuration-menu:hover,
.configuration-general-menu:hover,
.configuration-session-menu:hover,
.configuration-subject-menu:hover,
.configuration-fee-menu:hover{
    scale: 1.05;
}

.sub-menus{
    display: none;
}

.configuration-general-menu,
.configuration-session-menu,
.configuration-subject-menu,
.configuration-fee-menu{
    font-size: 13px;
    padding-left: 25px;
    margin-top: 10px;
}

.configuration-general-menu img,
.configuration-session-menu img,
.configuration-subject-menu img,
.configuration-fee-menu img{
    width: 15px;
}

/* All menus (End) */

/*  Dashboard menu content (Start) */

.dashboard-sub-menus{
    display: flex;
    gap: 17px;
}

.dashboard-sub-menu{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px;
    border-radius: 10px;
    width: 24%;
    color: #fff;
    height: 120px;
}

.dashboard-sub-menu.staffs{
    background-color: #7460E8;
}

.dashboard-sub-menu.students{
    background-color: #24C7DB;
}

.dashboard-sub-menu.subjects{
    background-color: #FD4A6D;
}

.dashboard-sub-menu.sessions{
    background-color: #FFB100;
}

.dashboard-sub-menu-icon{
   width: 50px;
}

.dashboard-report-summary{
    background-color: #fff;
    border-radius: 10px;
}

.dashboard-report-summary-header{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.dashboard-report-summary-header-icon{
    width: 20px;
}

/*  Dashboard menu content (End) */

/* Configuration menu content (Start) */

.configuration-menu-content{
    display: none;
}

/*  General (Start) */

.general-configuration-menu-content-header{
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

.general-configuration-menu-content-body{
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.general-configuration-menu-content-input{
    width: 50%;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    padding: 5px 10px;
    font-size: 14px;
}

.update-settings-btn{
    border: none;
    outline: none !important;
    padding: 5px 15px;
    background-color: #0170BA;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
}

/*  General (End) */

/* Session (Start) */

.session-configuration-menu-content-header{
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

.session-configuration-menu-content-body-tabs{
    display: flex;
    align-items: center;
    background-color: #ddd;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.session-configuration-tab{
    border: none;
    outline: none;
    padding: 7px 10px;
    font-size: 13px;
    background-color: transparent;
}

.session-configuration-tab-1{
    border-top-left-radius: 5px;
}

.session-configuration-tab-content{
    padding: 15px 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #fff;
}

.session-conf-all-ac-y-cnt{
    display: none;
}

.active-session-conf-tab{
    background-color: #fff;
    border-top: 2px solid #0170BA;
}

.session-configuration-menu-content-input, .update-academic-session-input{
    width: 50%;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    padding: 5px 10px;
    font-size: 14px;
}

.update-academic-session-input{
    width: 100%;
}

.save-session-settings-btn{
    border: none;
    outline: none !important;
    padding: 5px 15px;
    background-color: #0170BA;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
}

.all-session-search-container{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
}

.all-session-search-input{
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    padding: 5px 10px;
    font-size: 14px;
}

.all-session-search-btn{
    border: none;
    outline: none !important;
    padding: 5px 15px;
    background-color: #0170BA;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
}

.all-session-table{
    position: relative;
}

.all-session-table table {
  border-collapse: collapse;
  width: 100%;
  font-size: 14px;
}

.all-session-table table td, .all-session-table table th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.all-session-table table tr:nth-child(even) {
  background-color: #dddddd7d;
}

.all-academic-sessions-loader-container{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
}

.all-academic-sessions-loader{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.session-action-buttons{
    display: flex;
    gap: 5px;
    align-items: center;
}

.session-action-btn{
    font-size: 12px;
    padding: 8px 12px;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 5px;
}

/* Session (End) */

.required-field-ac-session{
    width: 50%;
    padding: 5px 10px;
    display: none;
}

/* Configuration menu content (End) */

